body {
	font-family: "trebuchet ms", "lucidia grande", verdana, arial, sans-serif;
	background-color: transparent;
	min-width: 320px;
	font-size: large;
	color: #515252;
}

#index {
	background-color: #CCE2E2;	
}

#menu {
	font-size:80%;
	font-family: "trebuchet ms", "lucidia grande", verdana, arial, sans-serif;
	color: #333;
	background-color: #FFEECB;
	width: 20%;
	height: 100%;
	float: left;
	text-align: left;
	letter-spacing:.1em;
}

 #iframe {
 	overflow: hidden; 
 	height: 100%; 
 	width: 100%; 
 	position: absolute;
 	background-color: #9BC2C2;
 }

 table {
 	background-color: #9890AF;
 }